%li<
  %span.title= project.title
  - if admin?
    %span.small<
      == #{link_to "View", project} &bullet; #{link_to "Edit", edit_project_path(project)} &bullet; #{link_to "Delete", project_path(project), :method => :delete}