body {
  font-family:Arial;
  color: #666;

h1 {
  font-size: 1.6em;
  font-weight: normal;
  color: #29ABE2;
  color: rgba(41, 171, 226, .8);
}
  #header{
    text-indent: -999em;
    background-color: #fbf6ff;
  }
  #footer{
    text-indent: -999em;
    background-color: #fbf6ff;
  }
  
  label {
    display:block;
    font-size: 1.2em;
  }

  input {
    margin:5px 0 10px 0;
    padding: 5px;
    font-size: 1.4em;
    color: #666;
    border: 1px solid #aaa;
  }
  textarea {
  margin:5px 0 10px 0;
  padding: 5px;
  font-size: 1.4em;
  color: #666;
  border: 1px solid #aaa;
  display: block;
  height: 200px;
  }

  button {
    display: inline-block;
    margin:10px 0;
    border:1px solid #aaa;
    background-color: #f0f0f0;
    padding: 10px 40px;
    font-size: 1.2em;
    color: #666;
  }
  button:hover {
    background-color: #fafafa;
  }
  
  p {
    font-size:1.2em;
  }
  
  .field_with_errors {
    input {
      border:2px solid red;
    }
  }

  .small {
    font-size:0.8em
  }
}