

@font-face {
	font-family: 'BallparkWeiner';
	src: url('../fonts/ballpark_weiner-webfont.eot');
	src: local('☺'), url('../fonts/ballpark_weiner-webfont.woff') format('woff'), url('../fonts/ballpark_weiner-webfont.ttf') format('truetype'), url('../fonts/ballpark_weiner-webfont.svg#webfontB51FUYAu') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin transition {
	 transition: all .5s linear;
   -o-transition: all .5s linear;
   -moz-transition: all .5s linear;
   -webkit-transition: all .5s linear;
}
@mixin bg{
  background: url(../images/bgtexture.png), -webkit-gradient(radial, 500 170, 300, 500 100, 200, from(#eaeaea), to(#f6f6f6));
  background: url(../images/bgtexture.png), -moz-radial-gradient(#f6f6f6,  #dedede);
}




@mixin btnbg{
  background: url(../images/bgtexture.png), -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.35, #dedede),
      color-stop(1, #f6f6f6)
  );
  background: url(../images/bgtexture.png), -moz-linear-gradient(#f6f6f6,  #dedede);
}
@mixin btnbg2{
  background: url(../images/bgtexture.png), -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.35, #f6f6f6),
      color-stop(1, #dedede)
  );
  background: url(../images/bgtexture.png), -moz-linear-gradient(#dedede,  #f6f6f6);
}

@mixin shadow {
    -moz-box-shadow: 0px 0px 10px #ddd; /* Firefox */
    -webkit-box-shadow: 0px 0px 10px #ddd; /* Safari, Chrome */
    box-shadow: 0px 0px 10px #ddd; /* CSS3 */
}

@mixin glow {
    -moz-box-shadow: 0px 0px 4px #29ABE2; /* Firefox */
    -webkit-box-shadow: 0px 0px 4px #29ABE2; /* Safari, Chrome */
    box-shadow: 0px 0px 4px #29ABE2; /* CSS3 */
}
input, textarea, select {
   -webkit-appearance: none;
 }
a:focus, a:active, button:focus, button:active {
  outline: 0 none;
}
/*for FireFox*/
    button[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
    {   
        border : 0px;
    } 
/*for IE8 */
    button[type="submit"]:focus, input[type="button"]:focus
    {     
        outline : none; 
    }

body {
  font-family:Arial;
  color: #666;
  color: rgba(102,102,102,1);
  background-color: #fafafa;
  #container {
    display: block;
    margin: 0 auto;
    width: 960px;
    padding: 40px;
    background-color: #eee;
    position: relative;
    top: 60px;
    border: 1px solid #fff;
    @include bg;
    @include shadow;
    
  } 

  
  h1, h2, h3, h4, h5 {
    font-family: 'BallparkWeiner', Arial, sans-serif;
    font-weight: normal;
    text-transform: capitalize;
  }
  h1 {
  margin: -20px 0 -10px;
  font-size: 4em;
  color: #29ABE2;
  color: rgba(41, 171, 226, 1);
  
}
  h1.header a {
    color: #29ABE2;
    color: rgba(41, 171, 226, 1);
    text-shadow: 0px 0px 5px rgba(255, 255, 255, .1);
  }
  h1.header a:hover {
    color: #54BCE8;
    color: rgba(84, 188, 232, 1);
    text-shadow: 0px 0px 5px rgba(41, 171, 226, .3);
  }
  h1.header a:active {
    color: #ED1E79;
    color: rgba(237, 30, 121, .3);
    border: none;
    @include transition;
  }
  h2 {
    margin: 20px 0 10px;
    font-size: 2.4em;
    font-weight: normal;
    color: #93278F;
    color: rgba(147, 39, 143, 1);
  }
  h3 {
    margin: 0;
    font-size: 2.4em;
    font-weight: normal;
    text-transform: none;
  }
  footer {
    p {
      width: 960px;
      border-top: 1px dashed #ddd;
      font-size: .7em;
      color: #aaa;
      margin: 10px 0 -40px -40px;
      padding:  10px 40px;
      text-align: right;
    }
    p.administration {
      display: none;
    }
  }
  
  label {
    display:block;
    font-size: 1.2em;
  }

  input {
    margin:5px 0 10px 0;
    padding: 10px 5px;
    font-size: 1.4em;
    color: #666;
    border: 1px solid #aaa;
    display: block;
    width: 490px;
    background-color: #FFFDE9;
    background-color: rgba(255, 242, 0, .05);
  }
  textarea {
  margin:5px 0 10px 0;
  padding: 10px;
  font-size: 1.4em;
  color: #666;
  border: 1px solid #aaa;
  display: block;
  height: 100px;
  width: 480px;
  background-color: #FFFDE9;
  background-color: rgba(255, 242, 0, .05);
  }
  
  input:focus, textarea:focus{
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, .7);
  @include glow;
  @include transition;
  }
  
  button {
    display: inline-block;
    margin:10px 0;
    border:1px solid #aaa;
    background-color: #fafafa;
    padding: 10px 40px;
    font-size: 1.2em;
    color: #29ABE2;
    color: rgba(41, 171, 226, .8);
    @include transition;
    //@include btnbg;
    background-image: url(/images/button.png);
    background-position: 0px 0;
    
  }
  button:hover {
    background-color: #ffffff;
    @include transition;
    @include glow;
    //@include btnbg2;
    background-image: url(/images/button.png);
    background-position: -0px -140px;
  }
  button:focus {
    background-color: #ffffff;
    background-image: url(/images/button.png);
    background-position: -0px -140px;
    @include transition;
    @include glow;
  }
  
  p {
    font-size:1.2em;
  }
  
  .field_with_errors {
    input {
      border:2px solid red;
    }
  }
  label.check_box {
    display: inline;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
  input[type="checkbox"] {
    @include transition;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: #ccc;
    background-image: url(/images/button.png);
  }
  input[type="checkbox"]:checked {
    background-color: #ffffff;
    @include transition;
    background-image: url(/images/button.png);
    background-position: -0px -140px;
    @include glow;
  }
  a, a:visited {
    color: #ED1E79;
    color: rgba(237, 30, 121, .5);
    text-decoration: none;
    @include transition;
  }
  a:hover {
    color: #ED1E79;
    color: rgba(237, 30, 121, 1);
    @include transition;
  }
  a:active {
    color: #ffffff;
    color: rgba(237, 30, 121, .2);
    @include transition;
  }
  a:focus {
    color: #ED1E79;
    color: rgba(237, 30, 121, 1);
    @include transition;
  }
  
  ul {
    margin: 0;
    padding: 0;
    display: block;
    li {
      list-style-type: none;
      list-style-position: outside;
      display: block;  
    }
  }
  ul#navigation {
    position: relative;
    top: -140px;
    right: -35px;
    float: right;
    li {
      display: inline;
    }
   }
  .small {
    font-size:0.8em
  }
}



// Admin Styles
body.administrator {

  #container {
    width: 500px;
  } 
  h1, h2, h3, h4, h5 {
  }
  h1 {
  margin: -20px 0 -10px;
}
  h2 {
    margin: 20px 0 10px;
  }
  h3 {
    margin: 0;
  }
  header {
    h3 {
      display: none;
    }
  }
  footer {
    p.public {
      display: none;
    }
    p.administration {
      width: 500px;
      font-size: .7em;
      display: block;
    }
  }

  ul#navigation {
    position: relative;
    top: -100px;
    right: -35px;
    float: right;
    li {
      display: inline;
    }
   }

}